/**
 * 公共样式
 */
body{
	padding: 0;
	margin: 0;
	background-color: #E7ECEF;
}
.js-ui-layout{
	position: relative;
	width: 100%;
    height: auto;
    min-height: 100%;
}
.js-ui-menu{
	position: absolute;
    left: 0;
    top: 0;
    width: 145px;
    height: auto;
    min-height: 100%;
    background-color: #dcdfe6;
    padding: 0 5px;
}
.js-ui-menu-close-icon{
	position: fixed;
    top: 50%;
    cursor: pointer;
    left: 155px;
    background-color: cornflowerblue;
    width: 16px;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    border-radius: 0 3px 3px 0;
    z-index: 999;
}
.js-ui-logo{
	width: 138px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}
.js-ui-menu-title{
	width: 138px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	text-align: left;
}
.js-ui-menu-content{
	position: absolute;
    top: 100px;
    left: 5px;
}
.js-ui-container{
    position: relative;
    left: 0;
    top: 0;
    margin-left: 155px;
}
.js-ui-header{
	position: relative;
    left: 0;
    top: 0;
	height: 50px;
	line-height: 50px;
	background-color: #fff;
	padding: 0 20px;
	font-size: 20px;
	font-weight: bold;
}
.js-ui-user{
	font-size: 14px;
	font-weight: normal;
	float: right;
}
.js-ui-user-logout{
	margin-left: 10px;
}
.js-ui-user-logout a{
	text-decoration: none;
}
.js-ui-user-logout i{
	margin: 0 3px;
	color: gray;
}
.js-ui-nav{
	margin-top: 10px;
	height: 14px;
	line-height: 14px;
	vertical-align: middle;
	padding: 0 0 0 20px;
	color: #97a8be;
	font-size: 14px;
}
.js-ui-nav .avtive{
	color: #409EFF;
}
.js-ui-nav-item{
	margin: 0 5px;
}
.js-ui-content{
	position: relative;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0 0 0 20px;
}
/* panel */
.js-ui-panel{
	margin-top: 15px;
	background-color: #fff;
    padding: 10px 15px 15px 15px;
	border-radius: 3px;
    margin-bottom: 15px;
}
.js-ui-panel:first-child{
	margin-top: 10px;
}
.js-ui-search-group{
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
}
.js-ui-search-group .js-ui-search-title{
	display: inline-block;
    width: 90px;
    max-width: 90px;
    min-width: 90px;
}
.js-ui-search-item{
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
    border-radius: 3px;
    border: 1px solid #dcdfe6;
    padding: 0 5px;
    margin: 0 0 0 5px;
}
